.form-input :global(.checkbox-component) {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1.5rem 0;
}

.form-input :global(.checkbox-component input[type=checkbox]:focus + span.label::before) {
    box-shadow: 0 0 1px 1px var(--primary-blue);
    border-radius: 4px;
}

.form-input :global(label.checkbox-component input[type=checkbox] + span.label) {
	text-transform: none;
}

.form-input > :global(.nti-text-input) {
	width: 100%;
	line-height: 3.125rem;
	height: 3.125rem;
	padding: 1rem 1.25rem;
	background: white;
	border-radius: none;
}

.form-input.underline > :global(.nti-text-input) {
	border: none;
	padding: 0;
	background: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.form-input + .form-input {
	margin-top: 0.625rem;
}

.form-input.underline + .form-input.underline {
	margin-top: 1.875rem;
}

.form-input :global(.nti-label-error) {
	text-align: left;
	display: block;
	padding: 0.25rem 0.5rem;
}

.form-input:global(.nti-labeled-input.error .nti-text-input) {
	border-color: var(--primary-red);
}

.form-input.code {
	margin: 0 auto;
	max-width: 398px;
	width: calc(100% - 30px);
}

.form-input.code input {
	font-size: 3rem;
	font-variant-numeric: tabular-nums;
	line-height: 2;
	text-align: center;
	letter-spacing: 1rem;
	height: 96px;
	padding: 0 0.5rem;
	text-indent: 1rem;
}

.form-input.code input::-ms-clear {
	display: none;
}