.signup :global(.checkbox-component) {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1.5rem 0;
}

.signup :global(.checkbox-component input[type=checkbox]:focus + span.label::before) {
    box-shadow: 0 0 1px 1px var(--primary-blue);
    border-radius: 4px;
}

.recover-link {
	display: block;
	margin: 0.5rem 0;
	text-align: center;
}

.container {
	max-width: 400px;
	margin: 2.5rem auto;
	padding: 0 0.625rem;
}

.signup-form button {
	margin-top: 1.25rem;
}

.signup.saving .signup-form,
.signup.saving .recover-link {
	display: none;
}

