.verify-sent {
	margin: 1rem 0;
}

.token-form {
	padding: 1rem 0 2rem;
}

.token-input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 1rem 0;
}


.token-input :global(.nti-text-input) {
	font-size: 1.75rem;
	width: 3em;
	text-align: center;
	margin: 0;
}

.spacer {
	margin: 0 0.875rem;
	padding-bottom: 1px;
	color: var(--secondary-grey);
}

.saving .token-form {
	display: none;
}