.verify-form {
	margin: 3.125rem 0 4.375rem;
	text-align: center;
}

.code-input {
	position: relative;
	display: inline-block;
}

.loading-container {
	position: absolute;
	top: 0; bottom: 0;
	left: 100%; right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	padding-left: 1rem;
}