:global(.loading-bar) {
	transition: width 70s linear;
}

:global(.loading-bar-0) {
	width: 0;
}

:global(.loading-bar-90) {
	width: 292.5px;
}

:global(.loading-bar-100) {
	width: 325px;
	transition-duration: 2s !important;
}

.loading-svg {
	width: 100vw;
	height: auto;
	min-height: 200px;
	max-width: 820px;
	max-height: 500px;
}
