.site-list-heading {
	margin-bottom: 2.5rem;
}

.site-list-heading.empty {
	margin-bottom: 2.875rem;
}

.site-list > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.site-list > ul > li {
	padding: 0;
	margin: 0;
}

@media only screen and (max-width: 700px) {
	.site-image {
		display: none;
	}
}

@media only screen and (min-width: 700px) and (max-width: 850px) {
	.site-list-content {
		padding: 100px 15px;
	}
}

@media only screen and (max-width: 700px) {
	.site-list-content {
		padding: 100px 25px;
	}
}
