.section {
	text-align: center;
	margin-bottom: 2.5rem;
	padding: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.section > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

:global(.site-details-exit) {
	opacity: 1;
	position: absolute;
	top: 1rem;
}

:global(.site-details-exit-active) {
	opacity: 0;
	transform: scale(0.8);
	transition: opacity 300ms, transform 300ms;
}

:global(.site-details-enter) {
	opacity: 0;
	transform: scale(0.8);
	transition: opacity 300ms, transform 300ms;
}

:global(.site-details-enter-active) {
	opacity: 1;
	transform: scale(1);
}
